* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header h1 {
    margin-bottom: 30px;
}

header {
    text-align: center;
}

.add-article {
    text-align: center;
    margin-bottom: 20px;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav {
    padding: 10px;
    text-align: center;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.tabs a,
.sbt {
    background-color: #3b5998;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}

.tabs a:hover,
.sbt:hover {
    background-color: #2e487d;
}

.success {
    margin-bottom: 10px;
    text-align: center;
    color: green;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    text-align: right;
}

@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    .tabs {
        flex-direction: column;
    }

    form {
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }
}

